hr{
	color:white;
}
.header {
	background-image: url("UPI1.jpg");
	height: 380px; width: 1300px;
	background-size: cover;
	background-position: center;
	font-family: century gothic;
	color: white;
	padding: 8px 30px;
	border: 0px solid #fff;
}
ul{
	list-style-type: none;
	padding: 5px 10px;
	overflow:hidden;
	color:#000000;
}	
li{
	float: left;
	text-align: center;
	border:3px solid #fff;
	display: inline-block;
	list-style-type: none;
	padding: 15px 30px;
	overflow:hidden;
}
body{
	background-image: url("Wallpaper1.jpg");
	height: 2500px; width: 900px;
	background-size: cover;
	background-position: center;
	font-family: century gothic;
}
ul li a{
	text-decoration:none;
	color: #fff;
	padding: 8px 30px;
	border: 0px solid #fff;
	margin-top: 25px;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
.menu{
	position: center;
}
h2{
	text-decoration:none;
	color:#DAA520;
	background-color: #fff;
	padding: 8px 60px;
	border: 2px solid #fff;
}
.content{
	float: left;
	color: #6B8E23;
	border:5px solid #FFD700;
	height: 5800px;
	margin-top: 20px; margin-right:30px; margin-left:60px; margin-bottom:20px;
	padding:20px;
	width:800px;
	background-image: url("Wallpaper2.jpg");
}
.sidebar{
	float: right;
	color: #F5F5F5;
	padding: 10px;
	margin-top: 20px; margin-right:20px; margin-left:10px; margin-bottom:20px;
	border: 3px;
	background-color: #DAA520;
	width:300px;
	height: 5830px;
}
.contact{
	float: center;
	padding: 30px 430px;
	margin-top: 50px; margin-right:60px; margin-left:105px; margin-bottom:20px;
	border: 3px solid #EEE8AA;
	color: #B8860B;
	display: inline-block;
}
